html, body {
  height: 100%;
  margin: 0;
}
#canvas {
  position: fixed;
  overflow: hidden;
}
#app {
  display: none;
}

.overlay {
  position: fixed;
  z-index: 1;
  background: white;
  padding: 1rem 2rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  font-family: monospace;
  bottom: 2rem;
  left: 2rem;
  box-sizing: border-box;
  max-width: calc(100% - 4rem);
}